div{
    margin: auto;
}
h1{
    text-align: center;
}
.result {
    height: 70px;
    background-color:black;
    width: 100%;
    color: white;
    text-align: right;
  }
  
  .result p {
    font-size: 40px;
    margin: 5px;
  } 
  .calculator-body {
    max-width: 500px;
  }
  .button {
    display: block;
    background-color: #bbb;
  }
  button {
    width: 25%;
    height: 70px;
    font-size: 30px;
    padding: auto;
  }